body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.shape {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all 0.3s ease-in-out;
}

input[type="range"] {
    width: 80%;
    margin-top: 20px;
}

